*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9f2f2;
}

h3, h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    margin-right: 10px;
}

.heading {
    text-align: center;
    margin-top: 50px;
}

.wrapper {
    margin: auto;
    margin-top: 20px;   
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.block {
    border: 1px solid #ccc;
    width: 350px;
    min-height: 600px;
    background-color: #fff;
}

.block__button {
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(243, 234, 239);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0 20px;
}

.block__button:hover {
    cursor: pointer;
    opacity: 0.6;
    border: 1px solid #ccc;
}

.infor { 
    margin-left: 30px;
}

.input {
    width: 90%;
    display: block;
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
}


.inputFlow {
    width: 200px;
    padding: 5px;
}

.flow_wrapper {
    margin: auto;
    margin-top: 20px;   
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}